[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=simone
Name[cs]=simone
Name[de]=Simone
Name[es]=simone
Name[ga]=simone
Name[nl]=simone
Name[pt]=simone
Name[pt_BR]=simone
Name[sv]=Simone
Name[uk]=simone
Name[x-test]=xxsimonexx
Exec=/usr/bin/single-instance /opt/simone/bin/simone
Icon=/usr/share/icons/hicolor/80x80/apps/simone80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
