[Desktop Entry]
Name=speechcal
Name[ca]=speechcal
Name[de]=SpeechCal
Name[es]=speechcal
Name[et]=speechcal
Name[fr]=speechcal
Name[ga]=speechcal
Name[hu]=speechcal
Name[is]=speechcal
Name[nl]=speechcal
Name[pl]=speechcal
Name[pt]=speechcal
Name[pt_BR]=speechcal
Name[ru]=speechcal
Name[sk]=speechcal
Name[sv]=Talkalender
Name[uk]=speechcal
Name[x-test]=xxspeechcalxx
Name[zh_TW]=speechcal
Exec=speechcal %i -caption "%c"
Icon=speechcal
Type=Application
#X-DocPath=speechcal/index.html
GenericName=Speech controlled calendar
GenericName[ca]=Calendari controlat per la veu
GenericName[de]=Sprachgesteuerter Kalender
GenericName[es]=Calendario controlado por la voz
GenericName[et]=Kõnega juhitav kalender
GenericName[fr]=Calendrier contrôlé par la parole
GenericName[hu]=Hang vezérelt naptár
GenericName[is]=Raddstýrt dagatal
GenericName[nl]=Spraakgestuurde agenda
GenericName[pl]=Kalendarz sterowany głosem
GenericName[pt]=Calendário controlado pela fala
GenericName[pt_BR]=Calendário controlado por voz
GenericName[ru]=Календарь, управляемый голосом
GenericName[sk]=Kalendár ovládaný rečou
GenericName[sv]=Talstyrd kalender
GenericName[uk]=Календар, керований голосом
GenericName[x-test]=xxSpeech controlled calendarxx
GenericName[zh_TW]=語音控制行事曆
Terminal=false
Categories=Qt;KDE;Utility;Accessibility;
