[Desktop Entry]
Name=speechcal
Exec=speechcal %i -caption "%c"
Icon=speechcal
Type=Application
#X-DocPath=speechcal/index.html
GenericName=Speech controlled calendar
Terminal=false
Categories=Qt;KDE;Utility;Accessibility;
