[Desktop Entry]
Name=speechcal
Name[de]=SpeechCal
Name[es]=speechcal
Name[ga]=speechcal
Name[nl]=speechcal
Name[pt]=speechcal
Name[pt_BR]=speechcal
Name[sv]=Talkalender
Name[uk]=speechcal
Name[x-test]=xxspeechcalxx
Exec=speechcal %i -caption "%c"
Icon=speechcal
Type=Application
#X-DocPath=speechcal/index.html
GenericName=Speech controlled calendar
GenericName[de]=Sprachgesteuerter Kalender
GenericName[es]=Calendario controlado por la voz
GenericName[nl]=Spraakgestuurde agenda
GenericName[pt]=Calendário controlado pela fala
GenericName[pt_BR]=Calendário controlado por voz
GenericName[sv]=Talstyrd kalender
GenericName[uk]=Календар, керований голосом
GenericName[x-test]=xxSpeech controlled calendarxx
Terminal=false
Categories=Qt;KDE;Utility;Accessibility;
