[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=simone
Name[bs]=simone
Name[ca]=simone
Name[ca@valencia]=simone
Name[cs]=simone
Name[de]=Simone
Name[es]=simone
Name[et]=simone
Name[fi]=simone
Name[fr]=simone
Name[ga]=simone
Name[gl]=simone
Name[hu]=simone
Name[is]=simone
Name[it]=simone
Name[ko]=simone
Name[mr]=सीमोन
Name[nl]=simone
Name[pl]=simone
Name[pt]=simone
Name[pt_BR]=simone
Name[ru]=simone
Name[sk]=simone
Name[sv]=Simone
Name[tr]=simone
Name[uk]=simone
Name[x-test]=xxsimonexx
Name[zh_TW]=simone
Exec=/opt/simone/bin/simone
Icon=simone64
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
