[Desktop Entry]
Name=simonstatus
Name[bs]=simonstatus
Name[ca]=simonstatus
Name[ca@valencia]=simonstatus
Name[de]=Simon-Status
Name[es]=simonstatus
Name[et]=Simoni olek
Name[fi]=simonstatus
Name[fr]=simonstatus
Name[ga]=simonstatus
Name[gl]=simonstatus
Name[hu]=simonstatus
Name[is]=simonstatus
Name[ko]=simonstatus
Name[mr]=सायमनस्टेटस
Name[nl]=simonstatus
Name[pl]=simonstatus
Name[pt]=simonstatus
Name[pt_BR]=simonstatus
Name[ru]=simonstatus
Name[sk]=simonstatus
Name[sv]=Simonstatus
Name[tr]=simonstatus
Name[uk]=simonstatus
Name[x-test]=xxsimonstatusxx
Name[zh_TW]=simonstatus
Exec=simonstatus %i -caption "%c"
Icon=simonstatus
Type=Application
#X-DocPath=simonstatus/index.html
GenericName=simon status widget
GenericName[bs]=simonstatus statusna kontrola
GenericName[ca]=Estri de l'estat de «simon»
GenericName[ca@valencia]=Estri de l'estat de «simon»
GenericName[de]=Simon-Statusanzeige
GenericName[es]=elemento gráfico del estado de simon
GenericName[et]=Simoni oleku vidin
GenericName[fi]=Simonin tilasovelma
GenericName[fr]=Composant graphique d'état pour « simon »
GenericName[ga]=giuirléid stádais simon
GenericName[gl]=widget de estado de simon
GenericName[hu]=Simon állapotwidget
GenericName[is]=Stöðugræja fyrir simon
GenericName[ko]=Simon 상태 위젯
GenericName[mr]=सायमन स्टेटस विजेट
GenericName[nl]=Widget met simonstatus
GenericName[pl]=element interfejsu stanu simon
GenericName[pt]=item de estado do Simon
GenericName[pt_BR]=widget de status do Simon
GenericName[ru]=Виджет состояния simon
GenericName[sk]=prvok stavu simon
GenericName[sv]=Simon grafisk statuskomponent
GenericName[tr]=simon durum gereci
GenericName[uk]=Віджет стану simon
GenericName[x-test]=xxsimon status widgetxx
GenericName[zh_TW]=simon 狀態元件
Terminal=false
Categories=Qt;KDE;Utility;Accessibility;
