[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=simon-touch
Name[ca]=simon-touch
Name[cs]=simon-touch
Name[de]=Simon-Touch
Name[es]=simon-touch
Name[et]=simon-touch
Name[fr]=simon-touch
Name[ga]=simon-touch
Name[hu]=simon-touch
Name[is]=simon-touch
Name[nl]=simon-aanraking
Name[pl]=simon-touch
Name[pt]=simon-touch
Name[pt_BR]=simon-touch
Name[ru]=simon-touch
Name[sk]=simon-touch
Name[sv]=Simon-touch
Name[uk]=simon-touch
Name[x-test]=xxsimon-touchxx
Name[zh_TW]=simon 觸控
Exec=/usr/bin/single-instance /opt/simon-touch/bin/simon-touch
Icon=/usr/share/icons/hicolor/80x80/apps/simon-touch80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
